header, nav, footer{
    border: 1px solid white;
}
footer, header{
	text-align: center;
	background-color: orange ;
}

header{
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
nav{
	height: 65vh;
}

footer{
	height: 13vh;
	display:flex;
	align-items: center;
	justify-content: center;
}

.table_profile{
    margin-left:auto; 
    margin-right:auto; 
    border-spacing: 30px;
}

form, h2, article{
	text-align: center;
}

.form-group{
	margin-bottom: 20px;
}